SECRET_KEY=ganti_dengan_secret_key

DB_DRIVER=tidb
DB_HOST=ganti_dengan_host_tidb
DB_PORT=4000
DB_USER=ganti_dengan_username_tidb
DB_PASSWORD=ganti_dengan_password_tidb
DB_NAME=portfolio_vanessa
DB_CA_PATH=

CLOUDINARY_CLOUD_NAME=ganti_dengan_cloud_name
CLOUDINARY_API_KEY=ganti_dengan_api_key
CLOUDINARY_API_SECRET=ganti_dengan_api_secret

RESEND_API_KEY=ganti_dengan_resend_api_key
RESEND_FROM_EMAIL=onboarding@resend.dev
CONTACT_TO_EMAIL=ganti_dengan_email_tujuan
